==
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<!-- Header Area Start -->

<header class="header">
  <div class="menu-wrap"></div>
    <!-- <a href="{{ 'home'|page }}" class="logo">PHIL ANDERSON</a> -->
    <a href="{{ 'home'|page }}"> <img src="{{ 'assets/img/core-img/phil-logo.png'|theme }}" class='logo-fade'> </a> 
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu active">
      <li><a href="{{ 'home'|page }}">HOME</a></li>
      <li><a href="{{ 'portfolio'|page }}">PORTFOLIO</a></li>
      <li><a href="{{ 'about'|page }}">ABOUT</a></li>
      <li><a href="{{ 'contact'|page }}">CONTACT</a></li>
    </ul>
  </div>
</header>



<!-- Header Area End -->