description = "Default layout without footer"
==
<!DOCTYPE html>
<html style="max-width: 100%; overflow-x: hidden; background: #afafaf url({{ 'assets/img/bg-img/bg_cc.jpeg'|theme }}) repeat 0 0;">

    {% partial 'site/header-main' %}
    
    <div class="main-container">

        <body>

            <!-- Header -->
            <header id="layout-header">
                {% partial 'site/header-main' %}
            </header>

            <!-- Content -->
            {% page %}

            <!-- Scripts -->
            <!-- jQuery (Necessary for All JavaScript Plugins) -->
            <script src="{{ 'assets/javascript/jquery/jquery-2.2.4.min.js'|theme }}"></script>
            <!-- Popper js -->
            <script src="{{ 'assets/javascript/popper.min.js'|theme}}"></script>
            <!-- Bootstrap js -->
            <script src="{{ 'assets/javascript/bootstrap.min.js'|theme}}"></script>
            <!-- Plugins js -->
            <script src="{{ 'assets/javascript/plugins.js'|theme}}"></script>
            <!-- Active js -->
            <script src="{{ 'assets/javascript/active.js'|theme}}"></script>
            {% framework extras %}
            {% scripts %}



        </body>

</div>
</html>
