@media (min-width: 950px) { 
    .middlepane {
        width: var(--image_w2); /* Larger container size */
        height: var(--image_h2); /* Maintain height ratio */
    }

    .gallery_area {
        position: fixed;
        overflow-y: scroll;
        z-index: 1;
        top: 50%;
        height: calc(100% - 275px);
        width: calc(100% - 400px);
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 900px) {
    .middlepane {
        width: 80%; /* Ensure the width adjusts for smaller screens */
        height: auto; /* Let the height adjust proportionally */
    }

    .image {
        max-width: 80%;  /* Prevent image from being too large */
        max-height: 70%; /* Let the image scale down to fit */
        object-fit: contain; /* Maintain aspect ratio of the image */
    }

    .gallery_area {
        height: calc(100% - 380px);
        width: calc(100% - 180px);
        left: 120px;
        padding-right: 45px;
    }

    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    }
}

@media only screen and (max-width: 750px) {
    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(35%, 1fr)); /* Adjust for smaller screen sizes */
    }
}

@media only screen and (max-width: 600px) {
    .gallery_area {
        height: calc(100% - 380px);
        width: calc(100% - 180px);
        left: 120px;
        padding-right: 45px;
    }

    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }

    .smoky-txt {
        font-size: 3vw; /* Use viewport width for font size */
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 5px;
    }
}

@media only screen and (min-width: 992px) {
    .header .logo-fade {
        max-width: 40vw; /* Adjust logo size */
    }

    .gallery_area {
        height: calc(100% - 380px);
        width: calc(100% - 180px);
        left: 120px;
        padding-right: 45px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header .logo-fade {
        max-width: 45vw; /* Adjust logo size */
    }

    .gallery_area {
        height: calc(100% - 380px);
        width: calc(100% - 10px);
        left: 100px;
        padding-right: 30px;
    }

    .middlepane {
        width: 90%; /* Adjust width for this range */
        height: auto; /* Let the height adjust automatically */
    }
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    p, ul {
        font-size: 14px;
        line-height: 1.5;
    }

    .gallery_area {
        height: auto;
        width: 90%;
        position: relative;
        top: 100px;
        left: 15px;
        right: 60px;
        padding-right: 15px;
        margin-bottom: 120px;
    }

    .gallery-menu {
        margin-bottom: 30px;
    }

    .gallery-caption {
        bottom: 20px;
    }

    .gallery-caption .p {
        line-height: .7;
        font-size: 1.1rem;
    }

    .middlepane {
        width: 100%; /* Full width for mobile */
        height: auto; /* Let the height scale accordingly */
    }
}
