@media (min-width: 950px) { /* Added by SA */

    .header .header {
        top: 10px;
    }
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }

    .gallery_area {
        position: fixed;
        overflow-y: scroll;
        position: fixed;
        z-index: 1;
        top: 50%;
        height: calc(100% - 275px);
        width: calc(100% - 400px);
        left: 50%;
        transform: translate(-50%, -50%);
    }


    

  }

@media only screen and (max-width: 900px) {

.middlepane {
    width: 60%;
}

.gallery_area {
    height: calc(100% - 380px);
    width: calc(100% - 180px);
    left: 120px;
    right: 60px;
    padding-right: 45px;
}

.gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
}

@media only screen and (max-width: 600px) {

    .middlepane {
        width: 60%;
    }

    .gallery_area {
        height: calc(100% - 380px);
        width: calc(100% - 180px);
        left: 120px;
        right: 60px;
        padding-right: 45px;
    }

    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }

    .smoky-txt {
        font-size: 3vw;
    }


@media only screen and (min-width: 992px) {

    .header .logo-fade {
        max-width: 40vw;
    }

    .gallery_area {
        height: calc(100% - 380px);
        width: calc(100% - 180px);
        left: 120px;
        right: 60px;
        padding-right: 45px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .header .logo-fade {
        max-width: 45vw;
    }

    .gallery_area {
        height: calc(100% - 380px);
        width: calc(100% - 130px);
        left: 100px;
        right: 30px;
        padding-right: 30px;
    }

}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    p {
        font-size: 14px;
    }

    footer {
        position: relative;
        bottom: -45px;
    }

    .gallery_area {
        height: auto;
        width: calc(100% - 90px);
        overflow-y: auto;
        position: relative;
        z-index: 1;
        top: 100px;
        left: 60px;
        right: 15px;
        padding-right: 15px;
    }

    .gallery_menu {
        margin-bottom: 30px;
    }
    
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    /* .modal-dialog {
        width: 320px;
    } */
}

@media only screen and (max-width: 450px) {
    
    .gallery_area {
        top: 50px;
    }

    .smoky-txt {
        font-size: 4vw;
    }

    .p {
        color: transparent;
    }

    .footer {
        visibility: hidden;
        display: none;
    }
}

    
