description = "Content pages"
==
<!DOCTYPE html>
<html style="background: #afafaf url({{ 'assets/img/bg-img/bg_cc.jpeg'|theme }}) repeat 0 0;">
    
    {% partial 'site/header-main' %}
    <body>

        <!-- Content -->

        <!-- <div class="scrollbar force-overflow" id="boxxy"> -->
        <div class="gallery_area clearfix page" style="z-index: 1">
            <div class="container-fluid clearfix" style="z-index: 9999">
                    <h2> {{ this.page.title }} </h2>
                    {% page %}
            </div>
        </div>
            

        <!-- Footer -->
        <!-- <footer id="layout-footer"> -->
        <!-- {% partial 'site/footer' %} -->
        <!-- </footer> -->

        <!-- Scripts -->
        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script src="{{ 'assets/javascript/jquery/jquery-2.2.4.min.js'|theme }}"></script>
        <!-- Popper js -->
        <script src="{{ 'assets/javascript/popper.min.js'|theme}}"></script>
        <!-- Bootstrap js -->
        <script src="{{ 'assets/javascript/bootstrap.min.js'|theme}}"></script>
        <!-- Plugins js -->
        <script src="{{ 'assets/javascript/plugins.js'|theme}}"></script>
        <!-- Active js -->
        <script src="{{ 'assets/javascript/active.js'|theme}}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>