title = "PORTFOLIO"
url = "/portfolio"
layout = "inner-scroll"

[Galleries]
results = 10
galleryPage = "gallery"
==

<head>
    <!-- jQuery 1.8 or later, 33 KB -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->

    <!-- Fotorama from CDNJS, 19 KB -->
    <!-- <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> -->
    <!-- <link  href="{{ '/assets/css/fotorama.dev.css'|theme }}" rel="stylesheet"> -->
    <!-- <script src="{{ '/assets/javascript/fotorama.dev.js'|theme }}"></script> -->

    <link  rel="preload" href="{{ '/assets/css/lightslider.css'|theme }}" rel="stylesheet">
    <script rel="preload" src="{{ '/assets/javascript/lightslider.js'|theme }}"></script>            
    <script rel="preload" src="{{ '/assets/javascript/project-common.js'|theme }}"></script>            
</head>

<body>
    <!-- <div id="aggregator"> -->
    <div class="gallery-grid" >
    {% for my_gallery in galleries %}
    
        {% if "_" not in my_gallery.name %}
        
            <div class="smoky-container">
                <a href="{{ my_gallery.url }}">
                <img src="{{ my_gallery.images[0].path | resize(500) }}" alt="" class="smoky-img"> 
                <p class="smoky-txt"> {{my_gallery.name}} </p> </a>  
            </div>
        
        {% endif %}
        
    
    {% endfor %}
    </div>

    <!-- </div> -->
</body>

<scripts>

    <script type="text/javascript">
        $('.box-wrapper').each(function(index, element) {

    setTimeout(function(){
        element.classList.remove('loading');
    }, index * 500);

    });
    </script>

</scripts>